.notfoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4rem auto;
}

.notfoundTitle {
  margin-bottom: 1rem;
}

.notfoundLink {
  cursor: pointer;
  background-color: var(--color-theme-main);
  color: var(--color-white);
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem;
}
