.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3rem auto;
}

.productDetailsWithBreadcrumbs {
  width: 100%;
}

.productDetailContainer {
  display: flex;
  gap: 1rem;
  flex: 1;
  margin-bottom: 4rem;
}
