.flexContainer {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: var(--content-width);
  gap: 2rem;
  margin: 0 auto;
  padding: 0 1rem;
}

/* 
Pierwszy element dziecko otrzyma 2/3 szerokości
.flexContainer > *:first-child {
  flex: 2;
} 
*/

.flexContainer > *:last-child {
  flex: 1;
  min-width: 0;
}

@media (max-width: 900px) {
  .flexContainer {
    flex-direction: column;
    gap: 1.2rem;
  }
}
